.fondo{
    
    background: linear-gradient(#010425, #000);
}

.logo{
    
    width: 100%;
    height: 25%;
}

@media (min-width: 750px){
    .logo{
        width: 500px;
    }
}

.footer{
    width: 100%;
    height: 150px;
    
}

.lista{
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vistaContenedor{
    width: 100%;
    height: 800px;
}